{% extends 'base.html' %}

{% block title %}Calendar{% endblock %}
{% block header %}
<style>
    .calendar {
        margin-top: 50px;
    }
    .day-cell {
        height: 60px;
        border: 1px solid #ccc;
        padding: 5px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center my-5">Calendar</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    {{ year }}년 {{ month }}월
                </div>
                <div class="card-body">
                    <div class="calendar">
                        <div class="row">
                            <div class="col day-cell text-center">일</div>
                            <div class="col day-cell text-center">월</div>
                            <div class="col day-cell text-center">화</div>
                            <div class="col day-cell text-center">수</div>
                            <div class="col day-cell text-center">목</div>
                            <div class="col day-cell text-center">금</div>
                            <div class="col day-cell text-center">토</div>
                        </div>
                        {% set day = 1 - first_day %}
                        {% for week in range(6) %}
                        <div class="row">
                            {% for weekday in range(7) %}
                                {% if day > 0 and day <= num_days %}
                                <div class="col day-cell text-center">
                                    <div>{{ day }}</div>
                                    {% if day in events %}
                                        <ul>
                                        {% for event in events[day] %}
                                            <li>{{ event }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                {% else %}
                                <div class="col day-cell"></div>
                                {% endif %}
                                {% set day = day + 1 %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
